#map {
  height: 400px;
  width: 80%;
  display: inline-block;
}

#panel {
  width: 16%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
}

.leaflet-popup-content p {
  font-family:Georgia;
}
