#title {
  font-family: Georgia;
  color: purple;
}
#body {
  background-color: rgba(255,255,255,0.8);
}
#map {
  height: 400px;
  width: 100%;
  display: inline-block;
}

.sequence-control-container{
  width: 300px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}

.legend-control-container{
  width: 200px;
  height: 100px;
  background-color: rgba(255,255,255,0.8);
  padding: 2px;
  line-height: 2px;
  text-align: center;
  border: solid gray 1px;
}

#panel {
  width: 25%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
}

.range-slider {
  width: 55%
}

.step{
  width:10%
}

.step img{
  width: 100%;
}

#forward {
  float:right;
}

#reverse {
  float:left;
}

.leaflet-popup-content {
  font-family:Georgia;
}
